body{
    font-family: sabs-serif;
}


.contener{
    width: 1140px;
    margin: 0 auto;
}

.to-uperces{
    text-transform: uppercase;
}

.clearfix{
    clear: both;
}

.main_headr_brand
{
    display: inline-block;
    vertical-align: middle;
}
.main_headr_brand img
{
    width: 65px;
}
.main_nav
{
    display: inline-block;
    vertical-align: middle;
}


.main-navigation__item{
    display: inline-block;
    padding: 10px;
}

.main-navigation__item a{
    color: #05364d;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
}

.main-navigation__item a:hover{
    color: #efd6df;
}

.main-navigation__item.active a{
    color: #efd6df;
}

/* Main section */

.main-section{
  padding: 100px 30px;
}


.main-section > div{
    width: 50%;
    float: left;
}

.main-section__image{
    text-align: right;
}

.welcome{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
    letter-spacing: 2px;
    color: #797979;
}

.introduction {
    margin-top: 20px;
    font-size: 60px;
    font-weight: 500;
    margin-bottom: 20px;
    color: #05364d;
}

.position{
    color: #05364d;
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 20px;
}

.action{
    margin-top: 30px;
    border: none;
    background-color: #1c44E4;
    color: #ffff;
    font-weight: 500;
    font-size: 14px;
    padding: 20px 40px;
    cursor: pointer;
    border-radius: 5px;
}

/* statistic section */
.statistic{
    padding-top: 100px;
}

.statistic__items{
    display: inline-block;
    width: 150px;
    background-color: #F8FAFF;
    text-align: center;
    padding: 5px 10px;
    margin-right: 20px;
}

.statistic_number{
    font-size: 27px;
    margin-bottom: 5px;
    color: #3357e9;
}

.statistic_title{
    font-size: 16px;
    color: #797979;
    font-weight: 300;
}
nav ul li a{
    text-decoration: none;
}